body {
    background:  #f5d9d5;
    font-family: "Nunito",sans-serif;
}

.blurb h2 {
    color: #EA1c2c;
    font-size: 2.5rem;
    font-weight: 100;
}

.blurb p {
    color: #f498b8;
    font-size: 1.125rem;
    font-weight: 100;
    line-height: 2;
}

.content {
    margin-top: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: #FA58B6;
}

#mainNavbar .nav-link:hover {
    color: #FC28FB;
    font-size: 1.7rem;
}

#mainNavbar .navbar-brand {
    color: #EA1c2c;
    font-size: 1.5rem;
}

#headingGroup span {
    color: #EA1c2c;
}
 
#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

@media (max-width:1200px) {
    #headingGroup h1 {
    font-weight: 100;
    font-size: 3rem;
    }
}